:root {
	--primary: #2c2aa3;
	--ligth: #ffffff;
	--grey: #efefef;
	--info: #5b8df8;
	--menu: #6ebeec;
	--menu2: #406b75;
	--offcanvas-width: 270px;
 	--topNavbarHeight: 67.5px;
}

a {
	text-decoration: none;
}
.bg-primary{
	
	background-color: var(--primary) !important;
}
.bg-menu{
	background-color: var(--menu);
}
.bg-menu2{
	background-color: var(--menu2);
}

.bg-info{
background-color: var(--info) !important;
}
.bg-ligth{
 background-color: var(--ligth) !important;
}
.avatar{
	 max-width: 35px;
}
.avatar2{
	max-width: 85px;
}

/*other*/

.sidebar-nav {
	width: var(--offcanvas-width);
  }
  .sidebar-link{
	  display: flex;
	  align-items: center;
  }
  .sidebar-link .right-icon{
	  display: inline-flex;
	  transition: all ease 0.25s;
  }

  .sidebar-link[aria-expanded="true"].right-icon{
	  transform: rotate(180deg);
	  
  }

@media (min-width: 992px){
	body {
		overflow: auto !important;
	  }

	.offcanvas-backdrop::before {
		display:none !important;
	}
	main{
		margin-left: var(--offcanvas-width);
	}

	.sidebar-nav {
		transform: none;
		visibility: visible !important;
		top: var(--topNavbarHeight);
		height: calc(100% - var(--topNavbarHeight));
	}

}

.avatars{
	display: flex;
	padding-left: 2rem;
}

.avatars img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 4px solid #444;
	margin: 0 0 0 -2rem;

}